/* Main styles */
main {
    text-align: center;
  }
  
  .banner {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .booksPhotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem; /* Ajusta según tus necesidades */
  }
  
  .booksTop,
  .booksBottom {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .bookPhoto {
    margin: 1rem; /* Ajusta según tus necesidades */
  }
  
  .bookPhoto img {
    width: 15rem;
    height: 20rem;
    object-fit: cover;
  }
  